/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg2: #000;
  --bg2-t1: #000000bb;
  --bg2-t2: #00000044;
  --bg3:  #cc4337;
  --bg3-t1:  #cc433769;
  --bg3-t2:  #cc4337cc;
  --bg4:  #f5c800;
  --bg4-t1:  #f5c80096;
  --font1:#fff;
  --font3:#aaf255;
}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */

.body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--bg4-t1);
  font-family: 'Montserrat Alternates', sans-serif;
}

.main,
.section,
.footer,
.nav{
  display: flex;
  width: 100%;
}

.main{
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background: no-repeat fixed url('../../../assets/space-invaders.jpg') ,var(--bg4); 
  background-position: 30% 50%;
  background-size: cover;
}

.footer{
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 2.5rem;
  padding: 1rem 0 8rem 0;
}

.nav{
  position: -webkit-sticky;
  position: sticky;
  top: 95%;
  height: 3rem;
  background: var(--bg3);
}


/**
 * =================================
 *            SPECIFIC
 * =================================
 */

.nav_container{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(5.2rem, 1fr));
  grid-auto-flow: column;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pc_board{
  flex-direction: column;
  justify-content: space-around;
  transform-style: preserve-3d;
  align-items: center;
  overflow: hidden;
 
}

.rock-paper_pc{
  --spyro: 0;
  --transZ: 250;

  position: relative;
  width: 300px;
  height: 110px;
  transition: transform 800ms;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--spyro)*1deg));
  transform-origin: center;
}

.hand_pc{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: var(--bg2);
  transform-origin: center;
  backface-visibility: hidden;
  perspective: 1000px;
}

.spock{
  transform: rotateY(72deg) translateZ(250px);
}

.lizard{
  transform: rotateY(144deg) translateZ(250px);
}

.rock{
  transform: rotateY(216deg) translateZ(250px);
}

.paper{
  transform: rotateY(288deg) translateZ(250px);
}

.scissors{
  transform: rotateY(360deg) translateZ(250px);
}


.dashboard{
  align-items: center;
  justify-content: space-evenly;
  transform-style: preserve-3d;
  perspective: 1100px;
}

.central{
  align-items: center;
  justify-content: space-evenly;
  min-height: 9.5rem;
}

.stats{
  position: relative;
  display: flex;
  width: 90%;
  min-height: 10.6rem;
  height: 22vh;
  bottom: 0;
  transform: rotateX(0) scale(1);
  transform-origin: center;
  transform-style: preserve-3d;
  transition: transform 200ms ease;
  color: var(--font1);
}

.stats.after{
  transform: rotateX(180deg) scale(0.7);
}

.front,
.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 4px 2px rgba(255,255,255,0.35);;
}

.front{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--bg2-t1);
}

.back{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.62rem, 1fr));
  background: var(--bg2-t2);
  transform: rotateX(180deg);
}

/**
 * =================================
 *    H's, TABLE, BUTTONS & LINKS
 * =================================
 */

.welcome,
.title_table{
  font-size: 1.5rem;
  font-weight: 600;
}


.text{
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
}

.inner_text{
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.social{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.td,
.tr,
.th,
.tbody,
.thead,
.table,
.welcome,
.title_table{
  text-align: center;
}

.td{
  min-width: 30px;
  max-width: 70px;
}

.table{
  margin: 0;
  padding: 0;
  width: 100%;
}


.btn{
  min-width: 40px;
  min-height: 40px;
  outline: none;
  color: var(--font1);
  background: var(--bg3-t1);
}

.btn:hover,
.btn:active,
.btn:focus{
  background: var(--bg3-t2);
  cursor: pointer;
}

.btn_play{
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  font-weight: 700;
  border-radius: 50%;
}

.ipc{
  color: var(--bg2);
}

.iplayer{
  font-size: 2.3rem;
  font-weight: 300;
  pointer-events: none;
}

.wrapper_lets-play{
  position: relative;
  display: flex;
  width: 8rem;
  height: 8rem;
  transform-style: preserve-3d;
}

.indicator{
  --sec: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: transform 1000ms linear;
  transform: rotateZ(calc(var(--sec)*360deg));
}

.indicator::after{
  position: absolute;
  content: '';
  top:0;
  left: 44%;
  width: 12%;
  height: 12%;
  border-radius: 50%;
  background: var(--font3);
}

.li_link{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
}

.link{
  display: flex;
  color: var(--bg2);
  text-decoration: none;
  justify-content: center;
}

.link:hover,
.link:active,
.link:focus{
  background: #000a;
  color: #fff;
}


