/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg2: #000;
  --bg2-t1: #000000bb;
  --bg2-t2: #00000044;
  --bg3:  #cc4337;
  --bg3-t1:  #cc433769;
  --bg3-t2:  #cc4337cc;
  --bg4:  #f5c800;
  --bg4-t1:  #f5c80096;
  --font1:#fff;
  --font3:#aaf255;
}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */
html{
  font-size: 20px;
}

.body,
.nav_container,
.welcome,
.show_inner,
.table{
  margin: 0;
  padding: 0;
}
.body{
  background: var(--bg4-t1);
  font-family: 'Montserrat Alternates', sans-serif;
}

.main,
.nav,
.footer{
  min-width: 280px;
  max-width: 1368px;
  margin: 0 auto;
}

.section,
.footer,
.nav{
  display: flex;
  width: 100%;
}

.main{
  display: grid;
  grid-template-columns: minmax(280px, 600px);
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background: no-repeat fixed url('../../../assets/space-invaders.jpg') ,var(--bg4); 
  background-position: 30% 50%;
  background-size: cover;
}

.footer{
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 205px;
  padding: 0 0 50px 0;
}

.nav{
  position: -webkit-sticky;
  position: sticky;
  top: 95%;
  height: 50px;
  background: var(--bg3);
}

.nav_container{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-auto-flow: column;
  list-style: none;
  width: 100%;
  overflow: hidden;
}


/**
 * =================================
 *            PC-BOARD
 * =================================
 */

.pc_board{
  flex-direction: column;
  justify-content: space-around;
  transform-style: preserve-3d;
  align-items: center;
  overflow: hidden;
 
}
.welcome{
  font-size: 1.2rem;
  text-align: center;
}
.rock-paper_pc{
  --spyro: 0;
  --transZ: 250;

  position: relative;
  width: 350px;
  height: 110px;
  transition: transform 800ms;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--spyro)*1deg));
  transform-origin: center;
}
.hand_pc{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: var(--bg2);
  transform-origin: center;
  backface-visibility: hidden;
  perspective: 1000px;
}

.spock{
  transform: rotateY(72deg) translateZ(500px);
}

.lizard{
  transform: rotateY(144deg) translateZ(500px);
}

.rock{
  transform: rotateY(216deg) translateZ(500px);
}

.paper{
  transform: rotateY(288deg) translateZ(500px);
}

.scissors{
  transform: rotateY(360deg) translateZ(500px);
}


/**
 * =================================
 *              CENTRAL
 * =================================
 */

.central{
  align-items: center;
  justify-content: space-evenly;
  min-height: 160px;
}
.wrapper_lets-play{
  position: relative;
  display: flex;
  width: 130px;
  height: 130px;
  transform-style: preserve-3d;
}
.indicator{
  --sec: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: transform 1000ms linear;
  transform: rotateZ(calc(var(--sec)*360deg));
}
.indicator::after{
  position: absolute;
  content: '';
  top:0;
  left: 44%;
  width: 12%;
  height: 12%;
  border-radius: 50%;
  background: var(--font3);
}

/**
 * =================================
 *              DASHBOARD
 * =================================
 */

.dashboard{
  align-items: center;
  justify-content: space-evenly;
  transform-style: preserve-3d;
  perspective: 1100px;
}
.stats{
  position: relative;
  display: flex;
  width: 90%;
  min-height: 170px;
  height: 22vh;
  bottom: 0;
  transform: rotateX(0) scale(1);
  transform-origin: center;
  transform-style: preserve-3d;
  transition: transform 200ms ease;
  color: var(--font1);
}
.stats.after{
  transform: rotateX(180deg) scale(0.7);
}
.front,
.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  backface-visibility: hidden;
}
.front{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--bg2-t1);
}
.front:hover::after{
  position: absolute;
  content: '';
  display: flex;
  top: -125%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: no-repeat url('../../../assets/rock-img.png'), var(--bg2);
  background-size: contain;
  background-position: center;
  background-attachment: scroll;
  backface-visibility: hidden;
  border-radius: 16px;
}
.back{
  display: grid;
  background: var(--bg2-t2);
  transform: rotateX(180deg);
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
}


/**
 * =================================
 *      TABLE, BUTTONS & LINKS
 * =================================
 */

/* table */
.title_table{
  font-size: 0.8rem;
  font-weight: 400;
  user-select: none;
}
.show_move{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  align-items: center;
  user-select: none;
}
.show_inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  user-select: none;
}
.winner{
  font-size: 1rem;
}
.text{
  font-size: 0.8rem;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
}
.inner_text{
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}
.td,
.tr,
.th,
.tbody,
.thead,
.table,
.title_table{
  text-align: center;
}
.table{
  width: 100%;
  user-select: none;
}
.td{
  min-width: 30px;
  max-width: 70px;
}

/* buttons */
.btn{
  min-width: 40px;
  min-height: 40px;
  outline: none;
  color: var(--font1);
  background: var(--bg3-t1);
}
.btn:hover,
.btn:active,
.btn:focus{
  background: var(--bg3-t2);
  cursor: pointer;
}
.btn_play{
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 50%;
}

/*  links  */
.li_link{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
}

.link{
  color: var(--bg2);
  text-decoration: none;
  justify-content: center;
}

.link:hover,
.link:active,
.link:focus{
  background: #000a;
  color: #fff;
}

/* icons */
.ipc{
  color: var(--bg2);
}
.iplayer{
  font-size: 2rem;
  color: var(--font1);
  pointer-events: none;
}

/**
 * =================================
 *            MEDIA-QUERIES
 * =================================
 */

@media (orientation: landscape) and (max-height: 450px){
  html{
    font-size: 15px;
  }
  .main{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
          "pcboard pcboard"
          "central dashboard";
  }
  .pc_board{
    grid-area: pcboard;
  }
  .central{
    grid-area: central;
  }
  .dashboard{
    grid-area: dashboard;
  }
  .rock-paper_pc{
    height: 80px;
  }
  .front:hover::after{
    left: -100%;
    top: 0;
    bottom: 0;
    margin: auto 0; 
  }
}
 
@media (min-height: 768px) and (orientation: landscape){
  html{
    font-size: 24px;
  }
  .front:hover::after{
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 768px) and (orientation: portrait){
  html{
    font-size: 28px;
  }
  .central{
    min-height: 200px;
  }
  .wrapper_lets-play{
    width: 180px;
    height: 180px;
  }
  .stats{
    min-height: 220px;
  }
  .nav{
    height: 80px;
  }
  .footer{
    height: 290px;
    padding: 0 0 100px 0;
  }
  .front:hover::after{
    width: 280px;
    height: 280px;
  }
}

@media (min-width: 1024px) and (orientation: portrait){
  html{
    font-size: 38px;
  }
  .central{
    min-height: 300px;
  }
  .wrapper_lets-play{
    width: 280px;
    height: 280px;
  }
  .stats{
    min-height: 400px;
  }
  .back{
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  .nav{
    height: 100px;
  }
  .footer{
    height: 290px;
    padding: 0 0 150px 0;
  }
  .front:hover::after{
    width: 290px;
    height: 290px;
  }
}
@media (min-height: 1024px) and (orientation: landscape){
  html{
    font-size: 32px;
  }
  
  .central{
    min-height: 250px;
  }
  .wrapper_lets-play{
    width: 200px;
    height: 200px;
  }
  .stats{
    min-height: 350px;
  }
  .back{
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  .nav{
    height: 100px;
  }
  .footer{
    height: 290px;
    padding: 0 0 150px 0;
  }
  .front:hover::after{
    width: 290px;
    height: 290px;
  }
}