/**
 * =================================
 *               ROOT
 * =================================
 */

 :root{
  --bg1: #393939;
  --bg1-transparent1: #393939e0;
  --bg1-transparent2: #39393939;
  --bg2: #1f4172;
  --bg2-transparent: #1f4172aa;
  --bg3:var(--font2);
  --bg4: #acd5d6;
  --font:#d2d2d2;
  --font1:#ecb460;
  --font2:#fcd9b8;
  --font3:#aaf255;
  --font4: #ecf1f1;
  --error1: #d88291;
  --error2: #febbbb;
  --linkActive: #BB86FC;
  --linkHover: #acd5d6;
  /* --linkHover: #aaf255; */

}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */

.body{
  /* background: var(--bg2);  */
  background: var(--bg4); 
  transform-style: preserve-3d;

}