/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg1: #000;
  --bg1-t1: #00000077;
  --bg2: #1f4172;
  --bg3:#e3e3e3;
  --bg4: #acd5d6;
  --font1:#000020;
  --font2:#d88291;
  /* --font1:#d2d2d2; */
  /* --font2:#fcd9b8; */
  --font3:#acd5d6;
  --font4: #ecf1f1;
  --font5:#aaf255;
  --error1: #d88291;
  --error2: #febbbb;
  --linkActive: #BB86FC;
  --linkHover: #acd5d6;
  /* --linkHover: #aaf255; */

}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */

.body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--bg1);
  font-family: 'Montserrat Alternates', sans-serif;
}

.header,
.section,
.footer,
.nav{
  display: flex;
  width: 100%;
}

.header{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--bg3);
}

.main{
  position: relative;
  padding-top: 14vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: flex-start;
  justify-content: space-around;
  min-height: 75vh;
}

.nav{
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 93%;
  height: 60px;
  background: var(--bg2);
  z-index: 200;
}

.nav_container{
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 
    repeat(auto-fit, minmax(4.5rem, 1fr));
  grid-auto-flow: column;
  list-style: none;
  text-align: center;
  width: 98%;
  margin: 0.5rem auto;
  padding: 0;
  overflow: hidden;
}

.footer{
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 215px;
  padding: 0 0 60px 0;
  background: var(--bg3);
  color: var(--font0);
  transition: background 200ms;
}

/**
 * =================================
 *            SPECIFIC
 * =================================
 */

h1{
  font-size: 1.8rem;
  margin: 0 15px 0 110px;
  padding: 0.5rem 0;
}

.body_simon{
  max-width: 1368px;
  background: no-repeat fixed 
    url("../../../assets/checkers.jpg"), var(--bg1);
  background-position: 50% 30%;
  background-size: cover;
}

.change_nick{
  position: fixed;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0, 0);
  background: var(--bg1-t1);
  transition: transform 200ms ease, opacity 200ms ease;
  z-index: 500;
}

.change_nick.after{
  opacity: 1;
  transform: scale(1, 1);
}

.form_nick{
  width: 80%;
  max-width: 500px;
  margin: 20vh auto;
  background: var(--bg3);
  display: none;
}

.form_nick.after{
  display: block;
}

.history{
  width: 96%;
  margin: 5vh auto;
  text-align: center;
  background: var(--bg3);
  color: var(--font1);
  display: none;
}

.history.after{
  display: table;
}

.actual_user{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: var(--bg1-t1);
  color: var(--font3);
}

.thcell,
.tcell{
  text-align: center;
  user-select: none;
}

.wrapper_board{
  position: relative;
  display: flex;
  width: 220px;
  height: 220px;
}

.button_container{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: center;
  transition: transform 300ms ease;
}

.board{
  justify-content: space-evenly;
}


/**
 * =================================
 *    H's, TABLE, BUTTONS & LINKS
 * =================================
 */



.btn{
  min-width: 40px;
  min-height: 40px;
  outline: none;
  cursor: pointer;
  color: var(--font1);
  background: var(--bg3-t1);
}

.btn:hover,
.btn:active,
.btn:focus{
  opacity: 1;
  box-shadow: inset -10px -10px 12px 8px #00000085;
}

.btn_play{
  position: absolute;
  display: flex;
  width: 100%;
  height: 25%;
  top: 125%;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
  background: var(--bg2);
  color: var(--font3);
  font-size: 1.5rem;
}

.btn_history{
  position: fixed;
  max-width: 70px;
  margin: 0;
  padding: 3px;
  top: 0;
  left: 0;
  z-index: 350;
}


.form_item{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  padding: 20%;
}

.li_link{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
}

.link,
.link:link,
.link:visited,
.modal_close{
  text-decoration: none;
  padding: 5px;
  color: var(--font1);
}

.link,
.link:link,
.link:visited{
  position: relative;
}

.link_nav,
.link_nav:link,
.link_nav:visited{
  color: var(--font3);
  font-size: 1rem;
  font-weight: 400;
}

.link_footer-login,
.link_footer-login:link,
.link_footer-login:visited{
  background: transparent;
  color: var(--bg1);
}

.link:hover,
.btn:hover,
.modal_close:hover{
  color: var(--linkActive); 
  font-weight: bold; 
}

.link::after,
.btn::after,
.link::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 2px;
  background: var(--font5);
  transform: scaleX(0);
  transition: transform 200ms;
}

.link_nav:hover,
.link_nav:focus{
  color: var(--font5); 
}

.link_nav:hover::after,
.link_nav:focus::after{
  transform: scaleX(1);
}

.link:focus,
.btn:focus{
  outline: none;
}

.link:active,
.btn:active,
.modal_close:active{
  color: var(--font5);
}

.color{
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 1;
  border-radius: 50%;
  top: 25%;
  left: 25%;
  border: none;
  transition: opacity 150ms ease;
}

.color.after,
.color:active{
  background: black;
  opacity: 0.9;
}


.blue{
  background: radial-gradient(ellipse at 20% 20%, #bbf, blue 50%);
  transform: translateY(57%) translateX(-40%);
}
.red{
  background: radial-gradient(ellipse at 20% 20%, #fbb, red 50%);
  transform: translateY(57%) translateX(40%);
}
.green{
  background: radial-gradient(ellipse at 20% 20%, #bfb, green 50%);
  transform: translateY(-17%) translateX(60%);
}
.yellow{
  background: radial-gradient(ellipse at 20% 20%, #ffb, yellow 50%);
  transform: translateY(-17%) translateX(-60%);
}
.white{
  background: radial-gradient(ellipse at 20% 20%, #fff, #999 50%);
  transform: translateY(-57%) translateX(0);
}
