/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg1: #000;
  --bg2: #1f4172;
  --bg3:#fff;
  --bg4: #acd5d6;
  --font1:#000020;
  --font2:#d88291;
  /* --font1:#d2d2d2; */
  /* --font2:#fcd9b8; */
  --font3:#aaf255;
  --font4: #ecf1f1;
  --error1: #d88291;
  --error2: #febbbb;
  --linkActive: #BB86FC;
  --linkHover: #acd5d6;
  /* --linkHover: #aaf255; */

}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */

.body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--bg1);
  font-family: 'Montserrat Alternates', sans-serif;
}

.section,
.footer,
.nav{
  display: flex;
  width: 100%;
}

.main{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
}

.nav{
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 93%;
  height: 60px;
  background: var(--bg2);
}

.nav_container{
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 
    repeat(auto-fit, minmax(4.5rem, 1fr));
  grid-auto-flow: column;
  list-style: none;
  text-align: center;
  width: 98%;
  margin: 0.5rem auto;
  padding: 0;
  overflow: hidden;
}

.footer{
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 215px;
  padding: 0 0 60px 0;
  background: var(--bg3);
  color: var(--font0);
  transition: background 200ms;
}

/**
 * =================================
 *            SPECIFIC
 * =================================
 */


.body_simon{
  max-width: 1368px;
  background: no-repeat fixed 
    url("../../../assets/checkers.jpg"), var(--bg1);
  background-position: 50% 30%;
  background-size: 100%;
}

.board{
  min-height: 60vh;
  justify-content: space-evenly;
}


.wrapper_board{
  position: relative;
  display: flex;
  width: 250px;
  height: 250px;
}

.button_container{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: center;
  transition: transform 300ms ease;
}


/**
 * =================================
 *    H's, TABLE, BUTTONS & LINKS
 * =================================
 */



.btn{
  min-width: 40px;
  min-height: 40px;
  outline: none;
  cursor: pointer;
  color: var(--font1);
  background: var(--bg3-t1);
}

.btn:hover,
.btn:active,
.btn:focus{
  opacity: 1;
  box-shadow: inset -10px -10px 12px 8px #00000085;
}

.blue,
.red,
.green,
.yellow,
.white{
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 1;
  border-radius: 50%;
  top: 25%;
  left: 25%;
  border: none;
  transition: opacity 250ms ease;
}

.button_container button:nth-child(1){
  background: radial-gradient(ellipse at 20% 20%, #bbf, blue 50%);
  transform: translateY(60%) translateX(-40%);
}
.button_container button:nth-child(2){
  background: radial-gradient(ellipse at 20% 20%, #fbb, red 50%);
  transform: translateY(60%) translateX(40%);
}
.button_container button:nth-child(3){
  background: radial-gradient(ellipse at 20% 20%, #bfb, green 50%);
  transform: translateY(-17%) translateX(60%);
}
.button_container button:nth-child(4){
  background: radial-gradient(ellipse at 20% 20%, #ffb, yellow 50%);
  transform: translateY(-17%) translateX(-60%);
}
.button_container button:nth-child(5){
  background: radial-gradient(ellipse at 20% 20%, #fff, #999 50%);
  transform: translateY(-60%) translateX(0);
}

.button_container button:nth-child(1).after,
.button_container button:nth-child(2).after,
.button_container button:nth-child(3).after,
.button_container button:nth-child(4).after,
.button_container button:nth-child(5).after{
  background: black;
  opacity: 0.9;
}

.btn_play{
  position: absolute;
  display: flex;
  width: 100%;
  height: 25%;
  top: 125%;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
  background: var(--bg2);
  color: var(--font3);
  font-size: 1.5rem;
}


.li_link{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
}

.link,
.link:link,
.link:visited,
.modal_close{
  text-decoration: none;
  padding: 5px;
  color: var(--font1);
}

.link,
.link:link,
.link:visited{
  position: relative;
}

.link_nav,
.link_nav:link,
.link_nav:visited{
  color: var(--font3);
  font-size: 1rem;
  font-weight: 400;
}

.link_footer-login,
.link_footer-login:link,
.link_footer-login:visited{
  background: transparent;
  color: var(--bg1);
}

.link:hover,
.btn:hover,
.modal_close:hover{
  color: var(--linkActive); 
  font-weight: bold; 
}

.link::after,
.btn::after,
.link::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -2px;
  background: var(--font-nav);
  transform: scaleX(0);
  transition: transform 200ms;
}

.link_nav:hover,
.link_nav:focus{
  color: var(--font-nav); 
}

.link_nav:hover::after,
.link_nav:focus::after{
  transform: scaleX(1);
}

.link:focus,
.btn:focus{
  outline: none;
}

.link:active,
.btn:active,
.modal_close:active{
  color: var(--font-nav);
}