/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg1: #000013;
  --bg2: #1f4172;
  --bg3: var(--font2);
  --bg3-emphasis: var(--font1);
  --bg5: #161825;
  --font1:#ecb460;
  --font2:#fcd9b8;
}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */

.body{
  margin: 0;
  font-size: 15px;
  color: var(--font1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--bg5);
  min-height: 100vh;
  position: relative;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.main,
.footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.main{
  align-items: flex-start;
  height: 55vh;
}

.footer{
  min-height: 10vh;
  align-items: center;
  text-align: center;
}


/**
 * =================================
 *           LINKS & BUTTONS
 * =================================
 */

.btn{
   height: 80px;
   min-width: 145px;
   background: var(--bg3);
   font-size: 1.2rem;
   border-radius: 25% 10%;
   box-shadow: 0.1rem 0.2rem 0.6rem #ffffff33;
   transition: background, border-radius 200ms ease;
}

.btn:hover,
.btn:focus-within{
  border-radius: 10% 25%;
  background: var(--bg3-emphasis);
  box-shadow: 0.1rem 0.2rem 0.6rem #ffffff66;
}

.btn:hover .link,
.btn:focus-within .link{
   color: var(--bg2);
}

.link{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: 100%;
   color: var(--bg1);
   text-decoration: none;
   outline: none;
}


/**
 * =================================
 *               CLOCK
 * =================================
 */

.clock{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  pointer-events: none;
  width: 100%;
  height: 100%;
  color: #000;
  mix-blend-mode: screen;
  transform-style: preserve-3d;
  padding-bottom: 8vh;
}
