/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg1: #000013;
  --bg2: #1f4172;
  --bg3: var(--font2);
  --bg3-emphasis: var(--font1);
  --bg5: #161825;
  --font0:#000008;
  --font1:#ecb460;
  --font2:#fcd9b8;
  
  --bg-nav: #000;
  --font-nav:#aaf255;

}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */

.body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: var(--font1);
  background: var(--bg5);
  font-family: 'Montserrat Alternates', sans-serif;
}

.home{
  position: relative;
  max-width: 1368px;
  margin: 0 auto;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.main,
.nav,
.footer{
  display: flex;
  width: 100%;
}

.main{
  align-items: flex-start;
  min-height: 70vh;
  justify-content: space-evenly;

}

.nav{
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 93%;
  height: 60px;
  background: var(--bg-nav);
}

.nav_container{
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 
    repeat(auto-fit, minmax(4.5rem, 1fr));
  grid-auto-flow: column;
  list-style: none;
  text-align: center;
  width: 98%;
  margin: 0.5rem auto;
  padding: 0;
  overflow: hidden;
}

.footer{
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 215px;
  padding: 60px 0;
  background: var(--bg3);
  color: var(--font0);
  transition: background 200ms;
}

/**
 * =================================
 *           LINKS & BUTTONS
 * =================================
 */

.btn{
   height: 80px;
   min-width: 145px;
   background: var(--bg3);
   font-size: 1.2rem;
   border-radius: 25% 10%;
   box-shadow: 0.1rem 0.2rem 0.6rem #ffffff33;
   transition: background, border-radius 200ms ease;
}

.btn:hover,
.btn:focus-within{
  border-radius: 10% 25%;
  background: var(--bg3-emphasis);
  box-shadow: 0.1rem 0.2rem 0.6rem #ffffff66;
}

.btn:hover .link,
.btn:focus-within .link{
   color: var(--bg2);
}


.link,
.link:link,
.link:visited,
.modal_close{
  text-decoration: none;
  padding: 5px;
  color: var(--font1);
}

.link,
.link:link,
.link:visited{
  position: relative;
}


.link:focus,
.btn:focus{
  outline: none;
}

.link:active,
.btn:active,
.modal_close:active{
  color: var(--font-nav);
}


/* .link{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: 100%;
   color: var(--bg1);
   text-decoration: none;
   outline: none;
}


.link,
.link:link,
.link:visited{
  text-decoration: none;
  padding: 5px;
  color: var(--font1);
  background: var(--bg1-transparent1);
  box-shadow: 0 0 1px var(--shadow-l1);
} */

.link_nav,
.link_nav:link,
.link_nav:visited{
  color: var(--font-nav);
}

.link_footer-login,
.link_footer-login:link,
.link_footer-login:visited{
  background: transparent;
  color: var(--bg1);
}

/**
 * =================================
 *               CLOCK
 * =================================
 */

.clock{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  pointer-events: none;
  width: 100%;
  height: 100%;
  color: #000;
  mix-blend-mode: screen;
  transform-style: preserve-3d;
  padding-bottom: 50vh;
}
