/**
 * =================================
 *               ROOT
 * =================================
 */

:root{
  --bg1: #000013;
  --bg2: #BEBDC2;
  --bg3: #11121440;
  --font1:#111214;
  --font2:#fcd9b8;
  
  --font-nav:#FD7C7E;
  --linkActive:#aaf255;

}

*{ 
  box-sizing: border-box 
}


/**
 * =================================
 *              GENERAL
 * =================================
 */
html{
  font-size: 15px;
}
.body{
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--font1);
  background: var(--bg2);
  font-family: 'Montserrat Alternates', sans-serif;
}

.home{
  position: relative;
  max-width: 1368px;
  margin: 0 auto;
  background: no-repeat fixed url('/assets/img/home.jpg');
  background-position: 50% 30%;
  background-size: contain;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.main,
.nav,
.footer{
  display: flex;
  width: 100%;
}

.main{
  align-items: flex-start;
  min-height: 70vh;
  justify-content: space-evenly;

}

.nav{
  margin: 0;
  position: sticky;
  top: 93%;
  height: 65px;
  background: var(--bg1);
  z-index: 200;
}

.nav_container{
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 
    repeat(auto-fit, minmax(72px, 1fr));
  grid-auto-flow: column;
  list-style: none;
  text-align: center;
  width: 98%;
  margin: 8px auto;
  padding: 0;
  overflow: hidden;
}

.footer{
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 215px;
  padding: 0 0 60px 0;
  background: var(--bg2);
  color: var(--font1);
}

/**
 * =================================
 *           LINKS & BUTTONS
 * =================================
 */

.link,
.link:link,
.link:visited{
  padding: 5px;
  color: var(--font1);
  text-decoration: none;
}

.link,
.link:link,
.link:visited{
  position: relative;
}

.link_nav,
.link_nav:link,
.link_nav:visited{
  color: var(--font-nav);
}

.link_footer-login,
.link_footer-login:link,
.link_footer-login:visited{
  background: transparent;
  color: var(--bg1);
}

.link:hover,
.btn:hover{
  color: inherit; 
  font-weight: bold; 
}

.link::after,
.link::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -2px;
  background: var(--font-nav);
  transform: scaleX(0);
  transition: transform 200ms;
}

.link_nav:hover,
.link_nav:focus{
  color: var(--font-nav); 
}

.link_nav:hover::after,
.link_nav:focus::after{
  transform: scaleX(1);
}

.link:focus,
.btn:focus{
  outline: none;
}

.link:active,
.btn:active{
  color: var(--font-nav);
}
.link_wrapper{
  max-width: 100px;
  text-align: center;
  background: var(--bg3);
  border-radius: 10px;
}
.link_wrapper:hover{
  color: var(--bg2);

}
.games{
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.social{
  padding: 0.5rem;
}